<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sage.Integration.Northwind.Application.Properties.Settings.NorthwindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\sdata\trunk\Adapters\Northwind\Northwind.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>