<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sage.Integration.Northwind.Adapter.Properties.Settings.NorthwindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Program Files (x86)\Common Files\Sage SData\Northwind\Northwind.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>