<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SageKa.Samples.VCSync.Synchronizer.MainSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <SageKa.Samples.VCSync.Synchronizer.MainSettings>
      <setting name="RunCounter" serializeAs="String">
        <value>381</value>
      </setting>
    </SageKa.Samples.VCSync.Synchronizer.MainSettings>
  </applicationSettings>
</configuration>